body {
    min-width: 500px;
}

* {
    box-sizing: border-box;
    font-family: "Elice Digital Baeum",sans-serif;
    color: #ffffff;
}

#weather{
    position: absolute;
    top: 3.125rem;
    right: 1.125rem;
}

#weather p:Last-child {
    position: absolute;
    right: 0;
}

#weather p {
    font-family: "Roboto", sans-serif;;
    font-weight: 500;
    margin: 0;
}

.position {
    text-align: center;
}

.hidden {
    display: none;
}

.login-submit {
    position: relative;
}

#day {
    font-size:3.125rem;
    height: 5rem;
    margin-bottom: 0px;
    margin-top: 6.25rem;
}

#clock {
    font-size: 6.25rem;
    margin: 0;
}

#login-form input:first-child {
    margin: 1.25rem 0;
}

#login-form input:first-child:focus,
#todo-form input:focus {
    outline: none;
    border-bottom: 2px white solid;
}

#login-form input:first-child,
#todo-form input {
    width: 18.75rem;
    height: 2.5rem;
    font-size: 1.875rem;
    border: none;
    background-color: rgba(000, 000, 000, 0);
    text-align: center;
    color: antiquewhite;
}

#login-form input:first-child::placeholder,
#todo-form input::placeholder {
    color:#ffffffd2;
    font-size: 1.875rem;
}

.greetings h1{
    height: 2.5rem;

}
img{
    position: absolute;
    top: 0;
    z-index: -9999999;
    width: 100%;
    height: 100%;
}

#todo-area {
    margin-left: auto;
    margin-right: auto;
    width: 40.625rem;
}

ul#todo-list {
    height: 21.875rem;
    max-height: 21.875rem;
    padding: 0;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}

li {
    font-size: 1.25rem;
    font-weight: 1000;
    list-style: none;
    margin: 10px auto;
    width: 10.75rem;
    text-align:right

}

li button {
    position: absolute;
    background-color: rgba(000, 000, 000, 0);
    border: none;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    outline: none;
}
li button:active {
    margin-top: 0.1875rem;
    margin-left: 1.0625rem;
}

#quote p {
    margin: 0;
}